@use 'variables';
@use 'mixins';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open sans' , serif;
}

.main {
  width: 100%;
  height: auto;
  background-color: variables.$primary-color;
}