@use '../../../styles/variables';


header { 
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;

    h1{
        color: variables.$font-primary-color; 
        padding-top: 12px;
        font-size: variables.$font-h1-size;
        text-align: center;
        letter-spacing: 1px;
        
    }

    .header-input-section {
        display: flex;
        justify-content: center;
    }

    .header-weather-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;


        .weather-city {
            display: flex;
            flex-direction: column;
            align-items: center;

            h2{
                font-size: 2.3rem;
                color: variables.$font-primary-color;
                letter-spacing: 1px;
            }
            p{
                font-size: 1.2rem;
                color: variables.$font-second-color;
                margin-bottom: 2rem;
                letter-spacing: 1px;
            }
        }

        .weather-temperatura {
            display: flex;

            p{
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 4.2rem;
                color: variables.$font-primary-color;
                font-weight: 800;

                .weather-span {
                    font-size: 3.5rem;
                    padding-left: 5px;
                }

            }

        }

    }

    .header-weather-max-min-section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 10px;

        .weather-temperatura-min {
            color: variables.$font-primary-color;
            

            p{
                font-weight: 200;
            }
        }

        .weather-temperatura-max {
            color: variables.$font-primary-color;

            p{
                font-weight: 200;
            }
        }   



    }


    .header-dados-section-template {
        width: 100%;
        padding: 0 15px;

    


        .header-dados-section {
            display: flex;
            flex-direction: column;
            margin-top: 3rem;
            background-color: variables.$input-primary-color;
            padding: 20px;
            border-radius: 10px;
            padding-left: 30px ;


            .header-dados-title {
                color: variables.$font-primary-color;
                font-size: 1.4rem;
                font-weight: 600;
                margin-bottom: 1.8rem;
                text-align: left; 
                letter-spacing: 1.3px;
                padding-top: 10px;
            }


            .header-dados-grid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1.3rem;

                section {
                    display: flex;
                    flex-direction: column;
                    gap: 0.3rem;


                    p:nth-child(1) {
                        color: variables.$font-second-color;
                        font-size: 1.1rem;
                    }

                    p:nth-child(2) {
                        color: variables.$font-primary-color;
                        font-size: 1.2rem;
                    }
            
                }

               

            }

        }
    }
    


    
}